body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Header styling */
header,
footer {
  background-color: #1f2937;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0;
}

h3 {
  font-size: 24px;
  color: #f9faf8;
}

a,
.header-text {
  font-size: 18px;
  color: #e5e7eb;
}

.placeholder {
  height: 200px;
  width: 550px;
  background-color: #767f97;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 30px;
}

a {
  text-decoration: none;
}

.header-links,
.header-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.header-container {
  margin-top: 75px;
  padding-bottom: 75px;
}

.header-box {
  width: 450px;
}

.header-text {
  margin-bottom: 10px;
}

button {
  background-color: #3882f6;
  border-style: none;
  color: #ffffff;
  font-weight: bold;
  padding: 7px 25px;
  border-radius: 7px;
}

/* Information Styling */

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info-container {
  display: flex;
  gap: 70px;
  margin-bottom: 7rem;
}

.info-box {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  justify-content: center;
}

.box {
  border: solid 4px #3882f6;
  border-radius: 15px;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 25px;
}

/* quote styling */

#quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.quote-text {
  display: flex;
  font-size: 36px;
  color: #1f2937;
  width: 50%;
  margin-bottom: 30px;
}

.thor-text {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
